<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Page</title>
    <script src="{{ url_for('static', filename='script_signout.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKH57FHFCQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NKH57FHFCQ');
    </script>
    <script>
        function redirectToDetail(scriptId) {
            // Redirect to /eng/detail with the script ID parameter
            window.location.href = `/eng/detail/${scriptId}`;
        };
    </script>
    <script>
        // TODO(DEVELOPER): Paste your firebaseConfig{} snippet here. Follow these instructions to
        // find your config object: https://support.google.com/firebase/answer/7015592#web
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyAPbfWnm-BpBqCo27-lBykG7tjEdoo61xU",
          authDomain: "ytranks-52d09.firebaseapp.com",
          projectId: "ytranks-52d09",
          storageBucket: "ytranks-52d09.appspot.com",
          messagingSenderId: "905955664846",
          appId: "1:905955664846:web:0775658458e87cc23f419f",
          measurementId: "G-NKH57FHFCQ"
        };
        firebase.initializeApp(firebaseConfig);
    
        if (typeof firebase === 'undefined') {
          const msg = "Please provide your Firebase configuration details. See instructions in templates/index.html.";
          console.log(msg);
          alert(msg);
        }
    </script>
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="images/homelogo.png" alt="homelogo" width="130px"> -->
            <h1>THE JOON DAILY</h1>
        </header>
        <nav>
            <a href="/">HOME</a>
            <div class="dropdown">
                <a href="#">English</a>
                <div class="dropdown-content">
                    <a href="/eng/list">List</a>
                    <a href="/eng/upload">Upload</a>
                </div>
            </div>
            <a href="/yt/south_korea">YT KR</a>
            <a href="/yt/japan">YT JP</a>
            <a href="/yt/united_states">YT US</a>
            <!-- <a href="/misc/index.html">MISC(native_template)</a> -->
        </nav>
        <div class="main">
            <div class="article">
                <div>
                    <h2>Your submitted script list</h2>
                    <button id="sign-out">Sign Out</button>
                </div>
                <ul class="ulcountry"> 
                    {% for list in query_list %}
                        <li class="licountry" onclick="redirectToDetail(`{{ list['id'] }}`)">
                            {{ list['title'] }}
                            {{ list['insert_date'] }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>