<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordwise AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKH57FHFCQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NKH57FHFCQ');
    </script>
    <script>
        function searchWord() {
            // Get the input value
            const wordInput = document.getElementById('searchInput').value;
            const searchResultsDiv = document.getElementById('searchResults');
            searchResultsDiv.innerHTML = '<p>Searching...</p>';
            searchResultsDiv.style.display = 'block';
            console.log(wordInput);
            // Make the API call to Flask backend
            fetch(`/eng/search/gemini/${wordInput}`)
                .then(response => response.json())
                .then(data => {
                    // Handle the API response and display results
                    searchResultsDiv.innerHTML = `<p><strong>Definition:</strong> ${data.definition}</p>`;
                    searchResultsDiv.innerHTML += `<p><strong>Circumstances:</strong> ${data.circumstances}</p>`;
                    if (data.examples.length > 0) {
                        searchResultsDiv.innerHTML += `<p><strong>Example Sentences:</strong></p>`;
                        searchResultsDiv.innerHTML += '<ul>';
                        data.examples.forEach(example => {
                            searchResultsDiv.innerHTML += `<li>${example}</li>`;
                        });
                        searchResultsDiv.innerHTML += '</ul>';
                    }
        
                    // Show the results div
                    searchResultsDiv.style.display = 'block';
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="images/homelogo.png" alt="homelogo" width="130px"> -->
            <h1>JOON TEST PAGE</h1>
        </header>
        <nav>
            <a href="/">HOME</a>
            <div class="dropdown">
                <a href="#">YT Ranks</a>
                <div class="dropdown-content">
                    <a href="/yt/south_korea">YT KR</a>
                    <a href="/yt/japan">YT JP</a>
                    <a href="/yt/united_states">YT US</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">English</a>
                <div class="dropdown-content">
                    <a href="/eng/search">Search</a>
                    <!-- <a href="/eng/list">Review</a>
                    <a href="/eng/upload">History</a> -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Games</a>
                <div class="dropdown-content">
                    <a href="/game/floppy">Floppy Ball</a>
                    <a href="/game/coin">Coin Toss</a>
                </div>
            </div>            
        </nav>
        <div class="eng_main">
            <h2>Search words/expressions wise with Gemini Pro</h2>
            <label style="display: flex; align-items: center; justify-content: center;">
                <span id="wordExpressionLabel" style="font-family: Arial, Helvetica, sans-serif;">Word/Expression:</span>
                <input id="searchInput" required type="text" style="margin-bottom: 0px; margin-left: 3px;">
                <button onClick="searchWord()" style="margin-bottom: 0px; margin-left: 1em;">Search</button>
            </label>
            <div id="searchResults" style="display: none;">
            </div>
        </div>
        <footer>
            <a href="http://www.google.com" target="_blank">Google It</a>
        </footer>
    </div>
</body>
</html>