<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/favicon.ico"/>
    <title>Flappy Bird Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='game2_script.js') }}" defer></script>
    <!-- test ca-app-pub-3940256099942544/1033173712 -->
    <script async
        data-adbreak-test="on"
        data-ad-frequency-hint="30s"
        data-admob-interstitial-slot="ca-app-pub-7939922674939066/6742640730"
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-123456789"
        crossorigin="anonymous">
    </script>
    <script>
        window.adsbygoogle = window.adsbygoogle || [];
        const adBreak = adConfig = function(o) {adsbygoogle.push(o);}
    </script>
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="images/homelogo.png" alt="homelogo" width="130px"> -->
            <h1>JOON TEST PAGE</h1>
        </header>
        <nav>
            <a href="/">HOME</a>
            <div class="dropdown">
                <a href="#">YT Ranks</a>
                <div class="dropdown-content">
                    <a href="/yt/south_korea">YT KR</a>
                    <a href="/yt/japan">YT JP</a>
                    <a href="/yt/united_states">YT US</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">English</a>
                <div class="dropdown-content">
                    <a href="/eng/search">Search</a>
                    <!-- <a href="/eng/list">Review</a>
                    <a href="/eng/upload">History</a> -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Games</a>
                <div class="dropdown-content">
                    <a href="/game/floppy">Floppy Ball</a>
                    <a href="/game/coin">Coin Toss</a>
                </div>
            </div> 
        </nav>
        <canvas id="gameContainer" height="300px" width="300px"></canvas>
        <button id="playButton">Play</button>
        <button style="display:none" id="headsButton">Heads</button>
        <button style="display:none" id="tailsButton">Tails</button>
        <button id="muteButton">Mute sound</button>
    </div>
</body>
</html>