<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT KR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKH57FHFCQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NKH57FHFCQ');
    </script>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
        window.googletag = window.googletag || {cmd: []};

        var us_native_top; 

        googletag.cmd.push(function() {
            us_native_top = googletag.defineSlot('/9474683/joon_ytranks_page/joon_ytranks_us/joon_ytranks_us_native_top', ['fluid'], 'joon_ytranks_us_native_top').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="images/homelogo.png" alt="homelogo" width="130px"> -->
            <h1>THE JOON DAILY</h1>
        </header>
        <nav>
            <a href="/">HOME</a>
            <div class="dropdown">
                <a href="#">English</a>
                <div class="dropdown-content">
                    <a href="/eng/list">List</a>
                    <a href="/eng/upload">Upload</a>
                </div>
            </div>
            <a href="/yt/south_korea">YT KR</a>
            <a href="/yt/japan">YT JP</a>
            <a href="/yt/united_states">YT US</a>
            <!-- <a href="/misc/index.html">MISC(native_template)</a> -->
        </nav>
        <div class="main">
            <div class="article">
                <h2>Top5 keywords and related YouTube videos in US</h2>
                <p>
                    Data as of {{all_data_by_4['united_states']['1']['run_date']}}
                </p>
                <!-- /9474683/joon_ytranks_page/joon_ytranks_us/joon_ytranks_us_native_top -->
                <div id="joon_ytranks_us_native_top">
                    <script>
                        googletag.cmd.push(function() { googletag.display(us_native_top); });
                    </script>
                </div>
                {% for index in "12345" %}
                    {% if all_data_by_4['united_states']['1'][index] %}
                    <ul class="ulcountry">
                        <span class="keyword">#{{index}}. {{all_data_by_4['united_states']['1'][index]['keyword']}}</span>
                        {% for field in all_data_by_4['united_states']['1'][index]['fields'] %}
                            <li class="licountry">
                                <img src="{{ field['thumbnail'] }}" alt="Video Thumbnail">
                                <a href="https://{{ field['videolink'] }}" target="_blank">{{ field['title']|replace('&#39;', "'")|replace('&quot;', '"') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No data available for keyword #{{i}}.</p>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class="articleside">
                <div class="articleads1">Ad Slot</div>
                <div class="articlesidenews">
                    <a href="/yt/south_korea"><span class="articlea">Top Keywords in Korea</span></a>
                    <p>Top 5 keywords being searched in Korea as of {{top_ranks['south_korea']['run_date']}}.<br>
                        <span class="indented-line">#1. {{top_ranks['south_korea']['1']}}</span><br>
                        <span class="indented-line">#2. {{top_ranks['south_korea']['2']}}</span><br>
                        <span class="indented-line">#3. {{top_ranks['south_korea']['3']}}</span><br>
                        <span class="indented-line">#4. {{top_ranks['south_korea']['4']}}</span><br>
                        <span class="indented-line">#5. {{top_ranks['south_korea']['5']}}</span>
                    </p>
                </div>
                <div class="articlesidenews">
                    <a href="/yt/japan"><span class="articlea">Top Keywords in Japan</span></a>
                    <p>Top 5 keywords being searched in Japan as of {{top_ranks['japan']['run_date']}}.<br>
                        <span class="indented-line">#1. {{top_ranks['japan']['1']}}</span><br>
                        <span class="indented-line">#2. {{top_ranks['japan']['2']}}</span><br>
                        <span class="indented-line">#3. {{top_ranks['japan']['3']}}</span><br>
                        <span class="indented-line">#4. {{top_ranks['japan']['4']}}</span><br>
                        <span class="indented-line">#5. {{top_ranks['japan']['5']}}</span>
                    </p>
                </div>
                <div class="articleads2">Ad Slot</div>
            </div>
        </div>
        <footer>
            <a href="http://www.google.com" target="_blank">Google It</a>
        </footer>
    </div>
</body>
</html>